.user-wrapper{
  background-color: #eaeaea;
  padding: 10px;
  border-radius: 15px;
  margin: 10px auto;
  display: flex;
  max-width: 400px;
  column-gap: 30px;
  align-items: center;
}
.avatar{
  border-radius: 50%;
  width: 80px;
}
.user-email{
  color: #353535;
}
p{
  margin: 2px auto;
}
.pagination { 
  margin: 30px auto;
  text-align: center;
}
.pagination > button {
  padding: 5px ;
  cursor: pointer;
  margin: 5px;

}
.active{
  background: #353535;
  color: #fff;
  border-radius: 10px;
  font-size: 18px;
}